{% load static %}
<header class="header black_nav clearfix element_to_stick">
    <div class="container">
        <div id="logo">
            <a href="/index">
                <img src="{% static 'css/img/logo_sticky.svg' %}" width="162" height="35" alt="">
            </a>
        </div>
        <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
        <ul id="top_menu">
            <li><a href="{% static ' #sign-in-dialog '%}" id="sign-in" class="login">Sign In</a></li>
            <li><a href="#0" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
        </ul>
        <!-- /top_menu -->
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <a href="#0" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a href="/index"><img src="{% static 'css/img/logo.svg' %}" width="162" height="35" alt=""></a>
            </div>
            <ul>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Home</a>
                    <ul>
                        <li><a href="/index">Address Autocomplete</a></li>
                        <li><a href="/index-2">Search by Keyword</a></li>
                        <li><a href="/index-3">Home Version 2</a></li>
                        <li><a href="/index-4">Video Background</a></li>
                        <li><a href="/index-5">GDPR Cookie Bar EU Law</a></li>
                        <li><a href="/header-user-logged">Header User Logged</a></li>
                        <li><a href="/header-cart-top">Header Cart Top</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Listing</a>
                    <ul>
                        <li class="third-level"><a href="#0">List pages</a>
                            <ul>
                                <li><a href="/grid-listing-filterscol">List default</a></li>
                                <li><a href="/grid-listing-filterscol-map">List with map</a></li>
                                <li><a href="/listing-map">List side map</a></li>
                                <li><a href="/grid-listing-masonry">List Masonry Filter</a></li>
                            </ul>
                        </li>
                        <li class="third-level"><a href="#0">Detail pages</a>
                            <ul>
                                <li><a href="/detail-restaurant">Detail page 1</a></li>
                                <li><a href="/detail-restaurant-2">Detail page 2</a></li>
                                <li><a href="/detail-restaurant-3">Detail page 3</a></li>
                            </ul>
                        </li>
                        <li class="third-level"><a href="#0">OpenStreetMap</a>
                            <ul>
                                <li><a href="/grid-listing-filterscol-openstreetmap">List with map</a></li>
                                <li><a href="/listing-map-openstreetmap">List side map</a></li>
                                <li><a href="/grid-listing-masonry-openstreetmap">List Masonry Filter</a></li>
                            </ul>
                        </li>
                        <li><a href="/submit-restaurant">Submit Restaurant</a></li>
                        <li><a href="/submit-rider">Submit Rider</a></li>
                        <li><a href="/order">Order</a></li>
                        <li><a href="/confirm">Confirm Order</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Other Pages</a>
                    <ul>
                        <li><a href="/404">404 Error</a></li>
                        <li><a href="/help">Help and Faq</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/leave-review">Leave a review</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                        <li><a href="/coming_soon/index">Coming Soon</a></li>
                        <li><a href="/register">Sign Up</a></li>
                        <li><a href="/icon-pack-1">Icon Pack 1</a></li>
                        <li><a href="/icon-pack-2">Icon Pack 2</a></li>
                        <li><a href="/shortcodes">Shortcodes</a></li>
                    </ul>
                </li>
                <li><a href="#">Buy this template</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- /header -->